[Unit]
After=network.target

[Service]
User=tlm
Group=tlm
Restart=always
RestartSec=3
WorkingDirectory=/opt/stub
ExecStart=python3 main.py

[Install]
WantedBy=multi-user.target