[Unit]
After=network.target

[Service]
User={{ lookup('env', 'DEPLOY_USER') }}
Group={{ lookup('env', 'DEPLOY_USER') }}
Restart=always
RestartSec=3
WorkingDirectory=/opt/stub
ExecStart=python main.py

[Install]
WantedBy=multi-user.target