[Unit]
After=network.target
Requires=p-tlm.service

[Service]
User=scraper
Group=reviewbot
Restart=always
RestartSec=3
WorkingDirectory={{ deploy_dir }}
ExecStart='{{ deploy_dir }}/venv/bin/python' -m scraper
Environment='DB_NAME={{ db_name }}'
Environment='DB_USER={{ db_user }}'
Environment='DB_PASSWORD={{ db_password }}'
Environment='API_BASE_URL={{ api_base_url }}'
Environment='PROXY_AUTH_TOKEN={{ proxy_auth_token }}'
Environment='EJUDGE_PROXY_BASE_URL={{ ejudge_proxy_base_url }}'
Environment='SCRAPE_INTERVAL_SECONDS={{ scrape_interval_seconds }}'
Environment='SCRAPER_CERTIFICATE_PATH={{ scraper_certificate_path }}'
Environment='SCRAPER_CERTIFICATE_KEY_PATH={{ scraper_certificate_key_path }}'
Environment='REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt'

[Install]
WantedBy=multi-user.target
